@import 'fonts.css';

.shower {
    --slide-ratio: calc(16 / 9);

    --color-key: #d83a3a;
    --color-back: #d6d6d6;

    font: 24px/2 'Evolventa', sans-serif;
}

section {
    line-height: 1.25;
}

.slide h2 {
    color: inherit;
}

.slide a:hover {
    margin: 0;
    color: var(--color-light);
}

.caption h1 {
    font: 100 1.17em/1 'Evolventa', sans-serif;
}

.unnumbered::after {
    content: "";
}

.title-slide {
    padding: 0 0 0 var(--slide-left-side);
    background-color: var(--color-key);
    color: white;
}

.title-column-grid {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.title-column-grid ul {
    margin: -10px 0 0 0;
    color: white;
}

.title-column-grid ul li::before {
    display: none;
}

.title-column-grid li a {
    margin: 0;
    font-size: 28px;
    color: white;
}

.cs-circle {
    width: 894px;
    height: 894px;

    position: absolute;
    left: -15%;
    top: -25%;
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none;
}

.cs-title.cs-title {
    height: auto;

    margin-top: 30px;
    line-height: 1.1;
    font-size: 58px;
}

.vsu-circle {
    width: 280px;
    height: 280px;

    display: flex;
    justify-self: end;

    border-radius: 50%;
    background-color: white;
    color: var(--color-key);
}

.vsu-circle h3 {
    margin: 0;
    align-self: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: inherit;
}


.title-list-header {
    font-size: 44px;
}
